<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Password reset link is sent</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Please enter your e-mail address below and we will send to you the password reset link</a></h1>
            <h3>Password reset link is sent</h3>
            <p>
                If the account corresponding to the email address you entered exists, you will receive a prompt to set a password soon.
            </p>
            <p>
                If you do not receive mail, please make sure that the address you entered is correct and check your spam folder.
            </p>
        </div>
    </div>
</div>
</body>
</html>