<!-- This file extends builder.html, which has the navigation bar created" -->
{% extends "builder.html" %}

<!-- To replace title, change the following title block" -->
{% block header %}
<title>home</title>
{% endblock %}

<!-- To replace content, change the following content block" -->
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

</div>

<!-- Upper bar-->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Number of Courses</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Assignments Completed</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{upload_count}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-arrow-circle-up fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Number of Days Active</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Middle section -->

<div class="row">

    <!-- Whats'new -->
    <div class="col-xl-8 col-lg-7">
        <div class="card bg-info text-white shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary ">What's New !</h6>
            </div>

            <!-- youtube video-->
            <div class="card-body pt-2">
                <div class="text-center">
                    <object style="height: 390px; width: 640px">
                        <param name="movie" value="https://www.youtube.com/watch?v=6i73NZv9To8&t=2s">
                        <param name="allowFullScreen" value="true">
                        <param name="allowScriptAccess" value="always"><embed
                            src="https://www.youtube.com/watch?v=6i73NZv9To8&t=2s" type="application/x-shockwave-flash"
                            allowfullscreen="true" allowScriptAccess="always" width="640" height="385">
                    </object>
                </div>

            </div>



        </div>






    </div>
    <!-- Profile -->
    <div class="col-xl-4 col-lg-5">
        <div class="card">
            <img class="card-img"
                src="https://www.wrappixel.com/demos/free-admin-templates/material-pro-lite/assets/images/background/profile-bg.jpg"
                alt="Card image cap">
            <div class="card-body  little-profile text-center pt-2">
                <div class="pro-img"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                        class="rounded-circle" width="150"></div>
                <h3 class="mb-0">{{user.username}}</h3>
                <p>{{user.role}}</p>
                <a href="{% url 'profile' user.username %}"
                    class="mt-2 waves-effect waves-dark btn btn-primary btn-md btn-rounded">View Profile</a>
                <a href="{% url 'edit_profile' slug=user.username %}"
                    class="mt-2 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Edit
                    Profile</a>
            </div>
        </div>
    </div>
</div>

<!-- Bottom area -->

<div class="row">
    <!-- My modules -->
    <div class="col-xl-8 col-lg-7 pt-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary ">My Modules</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Module
                                </th>

                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Upcoming Assigments</th>

                                {% if user.role != 'Instructor' %}

                                <th
                                    class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">
                                    Completion</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        <div class="col-auto">
                                            <i class="fas fa-book fa-2x text-gray-300"></i>
                                        </div>
                                        <div class="my-auto">


                                            <a href=" /books/?nid={{course.course.id}} ">
                                                <h6 class="mb-0 text-sm">{{course.course.name}}</h6>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {% for book in books %}

                                    {% if course.course.id == book.course.id %}

                                    {% if book.book not in uploads %}
                                    <div class="col">
                                        <p><strong>Assigments</strong>: <a
                                                href="books/upload_l/?nid={{book.book.id}}">{{book.book.title}}</a>
                                    </div>
                                    <div class="col">

                                        <p><strong>Deadline</strong>: {{book.book.deadline}}</p>

                                        <hr>
                                    </div>
                                    {% else %}

                                    <div class="col">
                                        <p><strong>Assigments</strong>: <a
                                                href="books/upload_l/?nid={{book.book.id}}">{{book.book.title}}</a>
                                    </div>
                                    <div class="col">

                                        <p><strong>Status</strong>: Submitted</p>


                                        <hr>
                                    </div>
                                    {% endif %}



                                    {% endif %}

                                    {% endfor %}
                                </td>
                                {% if user.role != 'Instructor' %}
                                <td>


                                    {% for book in books %}
                                    {% if course.course.id == book.course.id %}
                                    {% if book.book not in uploads %}

                                    <div class="d-flex px-0 py-10  align-items-center justify-content-center">
                                        <!-- <span class="me-2 text-xs font-weight-bold">60%</span> -->
                                        <div class="col-md-10 my-3">
                                            <div class="progress mb-5">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                    style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>





                                    {% else %}

                                    <div class="d-flex px-0 py-10 align-items-center justify-content-center">
                                        <!-- <span class="me-2 text-xs font-weight-bold">60%</span> -->
                                        <div class="col-md-10  my-3">
                                            <div class="progress mb-4">
                                                <div class="progress-bar bg-success" role="progressbar"
                                                    style="width: 100%" aria-valuenow="100" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>

                                        </div>
                                    </div>


                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}


                                </td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Group hangout -->
    <div class="col-xl-4 col-lg-5 pt-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="text-center">
                    <h6 class="m-0 font-weight-bold text-primary">Group hangout</h6>
                </div>


            </div>
            <div class="card-body">
<!--                <div class="text-center">-->
<!--                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="static/img/person.svg"-->
<!--                        alt="...">-->
<!--                    <p>Group chat with other people</p>-->
<!--                    <a href="{% url 'entryChat' %}" class="btn btn-primary btn-icon-split">-->
<!--                        <span class="icon text-white-50">-->
<!--                            <i class="fa fa-comments"></i>-->
<!--                        </span>-->

<!--                        <span class="text">Group Chat</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <hr>-->
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="static/img/undraw_business_chat_ldig.svg" alt="...">
                    <p>Video chat with other people</p>
                    <a href="{% url 'entryChat' %}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fa fa-video"></i>
                        </span>

                        <span class="text">Video Chat</span>
                    </a>
                </div>



            </div>
        </div>
    </div>

</div>

{% endblock %}