<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home page</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Growth</a></h1>
            {% if user.is_authenticated %}
                <p>Welcome to login：<a href="#">{{ user.username }}</a></p>
                <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">Log out</a>
                </button>
                <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">Change password</a>
                </button>
            {% else %}
                <p>You have not login, please
                    <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">login</a>
                    </button>
                    or
                    <button class="btn btn-default"><a href="{% url 'users:register' %}?next={{ request.path }}">register</a>
                    </button>
                </p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>