<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Growth</title>
  <meta content="" name="description">

  <meta content="" name="keywords">
{% load static %}

    <!-- Custom Favicon for this template-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href='{% static "vendor/swiper/swiper-bundle.min.css"%}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "css/index.css"%}' rel="stylesheet">



  <!-- =======================================================
  * Template Name: FlexStart - v1.4.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <img src='{% static "img/logo.svg"%}' alt="">
        <span>Growth<sup>v0.5</sup></span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#hero">Get Started</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">All-in-one platform for the <i>#AfricanImpactChallenge</i></h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Community and E-learning</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'users:register' %}?next={{ request.path }}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Register</span>
                <i class="bi bi-arrow-right"></i>
              </a>

              <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-outline-primary btn-bg">
                <span>Log in</span>
              </a>


            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src='{% static "img/hero-img.png" %}' class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>The Challenge</h3>
              <h2>Helping Africa’s brightest minds go from idea to MVP to market.</h2>
              <p>
                The goal of the African Impact Challenge is to build the Africa we want to see, by investing in our continent’s aspiring entrepreneurs-to-be. We’re enabling them to build market-creating innovations, which tackle their country’s biggest challenges with technology.
              </p>
              <div class="text-center text-lg-start">
                <a href="https://www.africanimpact.ca/the-african-impact-challenge" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src='{% static "img/about.jpg" class="img-fluid" %}' alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Mission Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>The Mission</h2>

        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="fade-up" data-aos-delay="200">
              <img src='{% static "img/values-1.png" %}' class="img-fluid" alt="">
              <h3>IMPACT ENTREPRENEURSHIP</h3>
              <p>Through our African Impact Challenge, we support young Africans who are passionate about building local solutions to their most pressing community problems. We believe the greatest amount of impact can be achieved through market-creating innovations, and have committed to birthing these across the continent with technology.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src='{% static "img/values-2.png" %}' class="img-fluid" alt="">
              <h3>SECTOR ENGAGEMENT</h3>
              <p>Through our annual conferences, the African Impact Initiative engages policy makers and established African professionals from key industries with our youth community. We do this in an effort to begin dialogues, which go on to spark new projects/partnerships between those in attendance. You can join our community by signing up at the bottom of this page, to stay updated on future conferences!</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src='{% static "img/values-3.png" %}' class="img-fluid" alt="">
              <h3>RURAL DEVELOPMENT</h3>
              <p>Through our rural development projects and community impact projects, we make a direct impact to African communities in need. Do you have a pressing issue in your community which you’d like to build a solution for? Please reach out to our team to start a conversation!
              </p>
            </div>
          </div>
        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Ronish Bhatt</h4>
                <span>Developer</span>
                <p>
                  There's something enthralling about him, perhaps it's his perseverance or perhaps it's simply his hatred. But nonetheless, people tend to welcome him, while trying to please him.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Shashwat Piyush Doshi</h4>
                <span>Developer</span>
                <p>
                  There's something seductive about him, perhaps it's a feeling of coldness or perhaps it's simply his personality. But nonetheless, people tend to lie about knowing him to brag, while jealousy consumes them.                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Yihang Cheng</h4>
                <span>Developer</span>
                <p>
                  This is the face of Byron Gedman, a true champion among humans. He stands graciously among others, despite his delicate frame.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Naman Bhandari</h4>
                <span>Developer</span>
                <p>
                  There's something wonderful about him, perhaps it's his company or perhaps it's simply a feeling of shame. But nonetheless, people tend to lie about knowing him to brag, while thinking of ways to become his friend.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Pritish Panda</h4>
                <span>Developer</span>
                <p>
                  Silver, greasy hair slightly reveals a bony, cheerful face. Beady gray eyes, set handsomely within their sockets, watch delightfully over the ancestors they've fought for for so long
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Jaiteg Sahota</h4>
                <span>Developer</span>
                <p>
                  A birthmark reaching from just under the left eye , first running towards thin lips and ending on his chin leaves an agonizing memory of departed loved ones.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-info">
                <h4>Zhengyi Zhang</h4>
                <span>Developer</span>
                <p>
                  A moustache seductively compliments his eyes and cheekbones and leaves a compelling memory of his adventurous love life.
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>A108 Adam Street,<br>New York, NY 535022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com<br>contact@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        <span>Designed for <a href="https://www.africanimpact.ca/the-african-impact-challenge">
          <i>#TheAfricanImpactChallenge</i></a></span><br>
        <span>Project-Growth 2021</span><br>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% load static %}
  <!-- Vendor JS Files -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src='{% static "/vendor/swiper/swiper-bundle.min.js"%}'></script>
  <script src='{% static "/vendor/glightbox/js/glightbox.min.js"%}'></script>

  <!-- Template Main JS File -->
  <script src='{% static "/js/index.js"%}'></script>



</body>

</html>