<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Conferencing</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}">
</head>
<body>
    <h3 id="label-username">{{ user }}'s Video Conference</h3>
    <div>
        <button id="btn-join">Join Conference Room</button>
    </div>
    <div class="main-grid-container">
        <!-- for grid layout
        assign class video-grad-layout -->
        <span> 
        <div id="video-container">
            <div><video id="local-video" style="float: left;" autoplay playsinline></video></div>
            <button id="btn-toggle-audio" class="btn btn-dark">Mute Audio</button>
            <button id="btn-toggle-video" class="btn btn-dark">Turn Off Video</button>
            <button id="btn-share-screen">Screen Share</button>
            <button id="btn-record-screen">Screen Record</button>
        </div>
    </span>
        <div id="video-chat">
            <h3> Conference Chat Room </h3>
            <div id="messages">
                <ul id="message-list"></ul>
            </div>
            <div id="ct"><input id="msg"><button id="btn-send-msg">Send</button></div>
            <!-- <button id="btn-share-screen">Screen Share</button>
            <button id="btn-record-screen">Screen Record</button> -->
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>