<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h3>Add course</h3>
                    <form class="form" method="POST" action="/courses/addCourse/">
                        {% csrf_token %}
                        {{ course_name_form }}
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>