<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Module List</title>
</head>
<body>

    {% block content %}
    {% block content_header %}
    <h2>Assignments, Quizes, Documents, Videos, and Surveys </h2>
    <p>
      <a href="{% url 'upload_assignment' %}" class="btn btn-primary">Upload Assignments</a>
    </p>
    {% endblock %}
  <table class="table mb-0">
    <thead>
      <tr>
        
        <th>Photo Cover</th>
        <th>Assignment Topic</th>
        <th>Deadlines</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for assignment in assignment %}
        <tr>
          <td>
            {% if assignment.cover %}
              <img src="{{ assignment.cover.url }}" alt="{{ assignment.title }}" style="width:100px;">
            {% else %}
              <span class="text-muted">No cover</span>
            {% endif %}
          </td>
          <td>{{ assignment.assignment }}</td>
          <td>{{ assignment.deadline }}</td>
          <td>
            <a href="{{ assignment.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'delete_assignment' assignment.pk %}">
              {% csrf_token %}
              <a href="{% url 'delete_assignment' %}" class="btn btn-primary">Delete</a>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% endblock %}
   
</body>
</html>