<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Courses</h1>
    <div>
        <button class="btn btn-default"><a href="{% url 'addCourse' %}">Add</a>
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <div class="headers">
                <th>ID</th>
                <th>Course</th>
                <th>Operation</th>
                </div>
            </tr>
        </thead>
        <tbody>
        {% for course in all_courses %}
            <tr>
                <td>{{course.id}}</td>
                <td><a class="Course" href="{% url 'course_detail' course.id %}">{{course.name}}</a>
                <td><a href="modCourse/?nid={{course.id}}">Modify</a>
                |
                <a href="delCourse/?nid={{course.id}}">Delete</a></td>

            </tr>
        {% endfor %}


        </tbody>
    </table>
</body>
</html>