<!-- This file extends builder.html, which has the navigation bar created" -->
{% extends "builder.html" %}

<!-- To replace title, change the following title block" -->
{% block header %}
<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
<title>Courses</title>
    <style>
        table {margin:auto;}
        body {text-align:center;}
    </style>
{% endblock %}

<!-- To replace content, change the following content block" -->
{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Courses</h1>
    </div>


    {% if role == 'Instructor' %}
        <div>
            <button class="btn btn-default"><a href="{% url 'addCourse' %}">Add</a>
            </button>
        </div>
    {% elif role == 'Student' %}
        <div>
            <button class="btn btn-default"><a href="{% url 'enrollCourse' %}">Enroll</a>
            </button>
        </div>
    {% endif %}
    <table>
        <thead>
            <tr>
                <div class="headers">
                <th>ID</th>
                <th>Course</th>
                <th>Operation</th>
                </div>
            </tr>
        </thead>
        <tbody>
        {% for course in all_courses %}
            <tr>
                <td>{{course.id}}</td>
                <td><a class="Course" href="/books/?nid={{course.id}}">{{course.name}}</a></td>

                {% if role == 'Instructor' %}
                    <td><a href="modCourse/?nid={{course.id}}">Modify</a>
                |
                    <a href="delCourse/?nid={{course.id}}">Delete</a></td>
                {% elif role == 'Student' %}
                    <td><a href="unenrollCourse/?nid={{course.id}}">Unenroll</a></td>
                {% endif %}


            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}
