<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--<h1><a href="index.html">Home</a></h1>-->
    <h2>Courses</h2>
    {% if role == 'Instructor' %}
        <div>
            <button class="btn btn-default"><a href="{% url 'addCourse' %}">Add</a>
            </button>
        </div>
    {% elif role == 'Student' %}
        <div>
            <button class="btn btn-default"><a href="{% url 'enrollCourse' %}">Enroll</a>
            </button>
        </div>
    {% endif %}
    <table>
        <thead>
            <tr>
                <div class="headers">
                <th>ID</th>
                <th>Course</th>
                <th>Operation</th>
                </div>
            </tr>
        </thead>
        <tbody>
        {% for course in all_courses %}
            <tr>
                <td>{{course.id}}</td>
                <td><a class="Course" href="{% url 'course_detail' course.id %}">{{course.name}}</a></td>

                {% if role == 'Instructor' %}
                    <td><a href="modCourse/?nid={{course.id}}">Modify</a>
                |
                    <a href="delCourse/?nid={{course.id}}">Delete</a></td>
                {% elif role == 'Student' %}
                    <td><a href="unenrollCourse/?nid={{course.id}}">Unenroll</a></td>
                {% endif %}


            </tr>
        {% endfor %}


        </tbody>
    </table>
</body>
</html>