<!-- This file extends builder.html, which has the navigation bar created" -->
{% extends "builder.html" %}

<!-- To replace title, change the following title block" -->
{% block header %}
<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
<title>Courses</title>
    <style>
        table {margin:auto;}
        body {text-align:center;}
    </style>
{% endblock %}

<!-- To replace content, change the following content block" -->
{% block content %}
<body>
  <h1>Modify course</h1>
  <form method="POST" action="/courses/modCourse/">
      {% csrf_token %}

      <input style="display: none" name="id" value="{{ course.id }}">
      <p>Course Name: <input type="text" name="name" value="{{ course.name }}"></p>
        <input type="submit" value="submit">
  </form>
</body>
{% endblock %}
