<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
</head>
<body>

    {% block content %}
    <h2>Upload</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="document">
    <button type="submit">Upload File Here</button>
    </form>
    {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %}
    {% endblock %}
</body>
</html>

-->