<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Assignments Here</title>
</head>
<body>
    
    {% load crispy_forms_tags %}

  <h2>Upload Assignment</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <p>
        <a href="{% url 'upload_assignment' %}" class="btn btn-primary">Upload Assigment</a>
    </p>
  </form>

</body>
</html>