<!-- This file extends builder.html, which has the navigation bar created" -->
{% extends "builder.html" %}

<!-- To replace title, change the following title block" -->
{% block header %}
<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
<title>Courses</title>

{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course_list' %}">Courses</a></li>
            <li class="breadcrumb-item" >{{course.name}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
        </ol>
    </nav>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Submitted Modules List</h1>
        <button type="button" class="btn btn-outline-primary" onclick="history.back(-1)">Back</button>
    </div>



    <!--Edit here to hide Upload functionality
      Working Now
      Naman
    -->

    {% if role == 'Instructor' %}
    <a href="uploadresult/?nid={{book_id}}" class="btn-sm btn-primary">Module Statistics</a>
    {% endif %}

    <br>
    <br>


    {% if role == 'Student' %}
        <div>
          <p>
            
            {% if count == 0 %}
            <b>Hello Student, you can submit your modules here</b>
            <div>
              <a href="uploadm/?nid={{book_id}}" class="btn btn-primary">Upload</a>
            </div>
            {% else %}
            <b>You have already made a submission, delete the previous submission to make a new submission</b>
            {% endif %}
          </p>
        </div>
    {% elif role == 'Instructor' %}
        <div>
            <p>
                <b>Hello Instructor, these are student submission for this Module</b>
            </p>
        </div>
    {% elif role == 'Partner' %}
    <div>
        <p>
            <b>Hello Partner, Sorry this material is only accessible to Instructor and Students</b>
        </p>
    </div>
    {% endif %}
  <table class="table mb-0">
    <thead>
      <tr>

        {% if role == 'Instructor' %}
        <th>Student ID</th>
        {% endif %}

        <th>Download</th>
        {% if role == 'Student' %}
        <th>Delete</th>
        {% endif %}



      </tr>
    </thead>
    <tbody>
      {% for upload in uploads %}
        <tr>

            {% if role == 'Instructor' %}
            <td><a href="uploadmark/?nid={{upload.id}}">{{upload.remark}}</a></td>
            {% endif %} 
            
            <td>
                <a href="{{ upload.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">
                    Download Submitted Module
                </a>
            </td>

            <!--Should Work-->

            {% if role == 'Student' %}
            
            <td>
                <form method="post" action="{% url 'delete_upload' upload.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>

            {% endif %}



        </tr>
        
        {% endfor %}
    
    </tbody>



  </table>

  {% if role == 'Student' %} 


  {% if c > 0 %}



  <table class="table mb-0">

    <thead>
      <tr>

        <th>Marks for this Module</th> 

      </tr>
    </thead>

    <tbody>

      {% for mark in marks %}
      <tr>
        <td>{{mark.mark}}</td>
      </tr>

      {% endfor %}
    </tbody>


  </table>

  {% elif count == 1 %}

  <b>Thank you for your submission!<br>Grading is in progress<br>Marks will be updated soon</b>

  {% endif %}


  {% endif %}
  


 
{% endblock %}
