<!-- This file extends builder.html, which has the navigation bar created" -->
{% extends "builder.html" %}
{% load crispy_forms_tags %}


<!-- To replace title, change the following title block" -->
{% block header %}
<link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
<title>Courses</title>
    <style>
        table {margin:auto;}
        body {text-align:center;}
    </style>
{% endblock %}

<!-- To replace content, change the following content block" -->
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'course_list' %}">Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li>
        </ol>
    </nav>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Upload Material</h1>
        <button type="button" class="btn btn-outline-primary" onclick="history.back(-1)">Back</button>
    </div>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Upload Material</button>
  </form>
{% endblock %}
