{% extends 'builder.html' %}

{% block header %}
<title>Browse Companies</title>
{% endblock %}

{% block content %}

    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Companies</h1>
        <a href="{% url 'index' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i
        class="fas fa-sm text-white-50"></i>< Back to {{request.user}}'s dashboard</a>
    </div>

    <div class="row">

        <div class="col-lg-8">

            <!-- Gallery Card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Company Gallery</h6>
                </div>

                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="{% url 'company_profile' photos.0.company.id %}">
                                <img src="{{ photos.0.photo.url }}" alt="photos.0.description" class="d-block w-100">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ photos.0.company.name }}</h5>
                                <p>{{ photos.0.description }}</p>
                            </div>
                        </div>
                        {% for photo in photos|slice:"1:" %}
                        <div class="carousel-item ">
                            <a href="{% url 'company_profile' photo.company.id %}">
                                <img src="{{ photo.photo.url }}" alt="photo.description" class="d-block h-100 w-100">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ photo.company.name }}</h5>
                                <p>{{ photo.description }}</p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>

            </div>

            <!-- Company Cards-->
            <div class="row row-cols-1 row-cols-md-3">
                {% for company_obj, member_list in companies_dict.items %}
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="{% url 'company_profile' company_obj.id %}">
                                    <img class="img-thumbnail" src="{{ company_obj.logo.url }}" alt="logo"  style="max-height:60px">
                                </a>
                            </div>
                            <hr>
                            <h4>{{ company_obj.name }}</h4>
                            <p><i> {{ company_obj.description }}</i></p>
                            <p><i class="far fa-building"></i> {{ company_obj.industry }}</p>
                            <i class="far fa-id-card size:5x"  ></i> {{ member_list }}
                        </div>
                        <div class=" text-center">
                            <small class="text-muted"><a class="btn btn-primary btn-sm" href="{% url 'company_profile' company_obj.id %}">Details</a></small>
                            <p></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="col-lg-4">

            <!-- My Company Card -->
            {% if has_company %}
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">My Company</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">

                            {% if is_admin %}
                            <div class="dropdown-header">Admin Actions:</div>

                            <a class="dropdown-item" href="{% url 'modify_company' company_obj.id %}">Modify company</a>
                            <a class="dropdown-item" href="{% url 'manage_users' company_obj.id %}">Manage users</a>
                            {% else %}
                            <div class="dropdown-header">Member Actions:</div>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'manage_photos' company_obj.id %}">Add/Edit company photos</a>
                            <a class="dropdown-item" href="{% url 'manage_files' company_obj.id %}">Add/Edit files</a>
                            <div class="dropdown-divider"></div>
                            <!--Button: Leave this company-->
                            <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#leaveCompanyModal">
                                Leave this company
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="text-center">
                        <!--Company logo-->
                        <a href="{% url 'company_profile' company_obj.id %}">
                            <img class="img-thumbnail" src="{{ company_obj.logo.url }}" alt="logo"  style="max-height:80px"></a>
                    </div>
                    <hr>
                    <!--Company name-->
                    <h4>{{ company_obj.name }}</h4>
                    <span class="text-white badge bg-success">My role: {{user.company_role}}</span>

                    <p><i> {{ company_obj.description }}</i></p>

                    <!--Company details-->
                    <p><i class="fas fa-building"></i> <strong>Industry:</strong> {{ company_obj.get_industry_display }}<p>
                    <p><i class="fas fa-id-card"></i> <strong>Size:</strong> {{ company_obj.get_size_display }}<p>
                    <p><i class="fas fa-briefcase"></i> <strong>Type:</strong> {{ company_obj.get_type_display }}<p>
                    <p><i class="fas fa-map-marker-alt"></i> <strong>Location:</strong> {{ company_obj.location }}<p>
                    <p><i class="fas fa-globe"></i> <strong>Website:</strong> {{ company_obj.website_url }}<p>

                    <div class="text-center">
                        <a class="btn btn-primary btn text-center"
                           href="{% url 'company_profile' company_obj.id %}">Go to my company</a>
                    </div>

                </div>
            </div>

            {% elif user.role != "Student" %}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">My Company</h6>
                </div>
                <div class="card-body">
                    Your role is <strong>{{user.role}}</strong> and you cannot be part of a start-up company.
                </div>
            </div>
            {% else %}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">My Company</h6>
                </div>
                <div class="card-body">
                    Looks Like you don't have a company yet,
                    <a href="{% url 'add_company'%}">create one now?</a><br>
                    Or, if your company is already created, search and join it below!
                </div>
            </div>
            {% endif %}


        </div>

    </div>


<!-- Leave Company Modal-->
<div class="modal fade" id="leaveCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure to Leave this company?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">You will need to request again to join this company</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form action="" method="POST">{% csrf_token %}
                    <input type="submit" class="btn btn-danger" name="leave_this_company" value="Leave this company" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}