{% extends 'builder.html' %}

{% block title %}
Company profile
{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tag %} class="{{ message.tags }}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <br>
        <br>
        <br>


        <!--Company logo-->
        <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">

        <!--Company name-->
        <h2>{{ company_obj.name }}</h2>
        <p>{{ company_obj.description }}<p>

        <br>
        <br>

        <!--Company details-->
        <h4>Details</h4>
        <p>industry: {{ company_obj.get_industry_display }}<p>
        <p>size: {{ company_obj.get_size_display }}<p>
        <p>type: {{ company_obj.get_type_display }}<p>
        <p>location: {{ company_obj.location }}<p>
        <p>website_url: {{ company_obj.website_url }}<p>
        <b>Admins:</b>
        <ul>
           {% if admins %}
                {% for user in admins %}
                <li> <a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                {% endfor %}
            {% else %} No admins
            {% endif %}
        </ul>

        <b>Members:</b>
        <ul>
            {% if members %}
                {% for user in members %}
                <li> <a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                {% endfor %}
            {% else %} No members
            {% endif %}

        </ul>

        <br>
        <h>Company Galleries</h>

        <ul>
        {% for photo in photos %}
            <d>
                    <!--Company photos-->
                    <img src="{{ photo.photo.url }}" alt="photo" width="400px">

                    <p><i>{{ photo.description }}</i></p>
                    <p><i>Uploaded: {{ photo.date_added }} - Id: {{ photo.id }} </i></p>


            <p> ------------- </p>
            <br>
            </d>


        {% endfor %}
        </ul>


        <!--TODO: ONLY COMPANY OWNER CAN SEE THE FOLLOWING LINKS-->

        {% if viewer_is_admin %}

            <!--Buttons-->
            <button class="btn btn-default"><a href="{% url 'modify_company' company_obj.id %}">Modify company</a></button>
            <button class="btn btn-default"><a href="{% url 'manage_users' company_obj.id %}">Manage users</a></button>
            <br>
            <button class="btn btn-default"><a href="{% url 'manage_photos' company_obj.id %}">Add/Edit company photos</a></button>
            <button class="btn btn-default"><a href="{% url 'manage_files' company_obj.id %}">Add/Edit files</a></button>
            <!--Button: Leave this company-->
            <form action="" method="POST">{% csrf_token %}
                <input type="hidden" name="user_to_remove" value="{{user.id}}"> </input>
                <input type="submit" name="leave_this_company" value="Leave this company" />
            </form>
            <p><i>You are viewing this page as an ADMIN, you have access to all the above actions</i></p>


        {% elif viewer_is_member %}

            <button class="btn btn-default"><a href="{% url 'manage_photos' company_obj.id %}">Add/Edit company photos</a></button>
            <button class="btn btn-default"><a href="{% url 'manage_files' company_obj.id %}">Add/Edit files</a></button>
            <!--Button: Leave this company-->
            <form action="" method="POST">{% csrf_token %}
                <input type="submit" name="leave_this_company" value="Leave this company" />
            </form>
            <p><i>You are viewing this page as a MEMBER, you have access to the above actions</i></p>
            <p><i>If you need more access including editing company profile, membership management,
            please contact your ADMIN</i></p>



        {% else %}
            <button class="btn btn-default"><a href="{% url 'add_current_user' company_obj.id %}">Request to join this company</a></button>
            <p><i>You are viewing as a GUEST, you cannot edit anything on this page</i></p>
            <p><i>If you need more access, please request to join this company</i></p>

        {% endif %}






            <br>
    <button class="btn btn-default"><a href="{% url 'companies' %}">Back </a></button>


{% endblock %}