{% extends 'builder.html' %}

{% block title %}
Delete this company
{% endblock %}

{% block content %}

    <br>
    <br>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tag %} class="{{ message.tags }}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <h3>Are you sure to delete this company: "{{company_obj.name}}"?</h3>
        <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">
        <br>
        <br>
        <br>
        <br>
        <p>All the following members will not have access to this company any more:</p>
        <ul>
        {% for user in users_existing %}
        <li> {{ user.username }} </li>
        {% endfor %}
        </ul>
        <p><input type="submit" value="Confirm" /> </p>

    </form>


    <button class="btn btn-default"><a href="{% url 'company_profile' company_obj.id %}">Cancel</a></button>


{% endblock %}
