{% extends 'builder.html' %}

{% block header %}
<title>Delete Company</title>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'companies' %}">Companies</a></li>
        <li class="breadcrumb-item"><a href="{% url 'company_profile' company_obj.id %}">{{ company_obj.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>

</nav>
<br>
<br>
<!-- Card -->
<div class="card shadow mb-4">
    <!-- Card Header  -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-danger">Delete Company</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <h3>Are you sure to delete this company: "{{company_obj.name}}"?</h3>
            <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">
            <hr>
            <p>All the following members will not have access to this company any more:</p>

            <p><b>Admins:</b></p>
            {% if admins %}
            <ul>
                {% for user in admins %}
                <li> {{ user.username }} </li>
                {% endfor %}
            </ul>
            {% else %} <p>None</p>
            {% endif %}

            <p><b>Members:</b></p>
            {% if members %}
            <ul>
                {% for user in members %}
                <li> {{ user.username }} </li>
                {% endfor %}
            </ul>
            {% else %} <p>None</p>
            {% endif %}

            <button type="button" class="btn btn-outline-primary" onclick="history.back(-1)">Cancel</button>
            <input class="btn btn-danger" type="submit" value="Confirm" />

        </form>
    </div>
</div>

{% endblock %}
