{% extends 'builder.html' %}

{% block header %}
<title>Manage Members</title>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'companies' %}">Companies</a></li>
            <li class="breadcrumb-item"><a href="{% url 'company_profile' company_obj.id %}">{{ company_obj.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
        </ol>
    </nav>

    <!-- Page Title -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ company_obj.name }}
            <small class="text-primary">id:{{company_obj.id}}</small>
        </h1>
        <a href="{% url 'companies' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i
                class="fas fa-sm text-white-50"></i>< Back to Company Home</a>
    </div>

    <div class="row">
        <div class="col-lg-8">

            <!-- New User Request Card -->
            {% if pending_members %}
            <div class="card shadow mb-4">
                <!-- Card Header  -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Pending Request</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p><i>As an admin, you can approve new member requests</i></p>
                    <ul>
                        {% for user in pending_members %}
                        <li>
                            <form action="" method="POST">{% csrf_token %}
                                <a  href="{% url 'profile' user.username %}" >{{ user.username }}</a> has requested to join
                                <input type="hidden" name="user_to_add" value="{{user.id}}">
                                <input class="btn btn-outline-secondary btn-sm" type="submit" name="reject_new_member" value="Reject">
                                <input class="btn btn-success btn-sm" type="submit" name="add_new_member" value="Approve">
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <!-- Manage Admins Card -->
            <div class="card shadow mb-4">
                <!-- Card Header  -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Manage Admins</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <b>Admins</b>
                    <i>will have access to managing company page and membership</i>
                    <ul>
                        {% for user in admins %}
                        <li>
                            <hr>
                            <form action="" method="POST">{% csrf_token %}
                                <a  href="{% url 'profile' user.username %}" >{{ user.username }} </a>
                                <input type="hidden" name="user_to_remove" value="{{user.id}}">
                                <input class="btn btn btn-outline-secondary btn-sm" type="submit" name="set_as_member" value="Set as member">
                                <input class="btn btn btn-danger btn-sm" type="submit" name="remove_admin" value="Remove">
                            </form>
                        </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Manage Members Card -->
            <div class="card shadow mb-4">
                <!-- Card Header  -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Manage Members</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <b>Members</b>
                    <i>will have access to adding files and edit company page</i>
                    <ul>
                        {% for user in members %}
                        <li>
                            <hr>
                            <form action="" method="POST">{% csrf_token %}
                                <a  href="{% url 'profile' user.username %}" >{{ user.username }} </a>
                                <input type="hidden" name="user_to_remove" value="{{user.id}}">
                                <input class="btn btn-outline-success btn-sm" type="submit" name="set_as_admin" value="Set as admin">
                                <input class="btn btn btn-danger btn-sm" type="submit" name="remove_member" value="Remove">
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <!-- Details Card -->
            {% include "company/partials/company_card.html" %}

            <!-- New User Card -->
            <div class="card shadow mb-4">
                <!-- Card Header  -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Add A New Member</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <p><i>Only users without an existing company can be invited</i></p>
                    <form action="" method="POST">{% csrf_token %}
                        <select name="user_to_add" required>
                            <option disabled selected value> -- select an user -- </option>

                            {% for user in users_available %}
                            <option value="{{user.id}}"> {{user.username}} </option>
                            {% endfor %}
                        </select>
                        <input class="btn btn-primary btn-sm" type="submit" name="add_user" value="Add" />
                    </form>

                </div>
            </div>

        </div>
    </div>

    <button class="btn btn-default"><a href="{% url 'company_profile' company_obj.id %}">< Back</a></button>

{% endblock %}