{% extends 'builder.html' %}

{% block title %}
Manage company members
{% endblock %}

{% block content %}

    {% if not is_admin %}
        <p>Only company admin has access to this page</p>
        <button class="btn btn-default"><a href="{% url 'companies' %}">Go back to company</a></button>

    {% else %}


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tag %} class="{{ message.tags }}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <br>
    <br>
    <h3>Manage members</h3>
    <br>
    <br>

    <!--Company logo-->
    <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">

    <!--Company name-->
    <h2>{{ company_obj.name }}</h2>
    <p>{{ company_obj.description }}<p>

    <br>
    <br>


    <!-- TODO: Only users own this company shoud see this page -->

<!--<ul>-->
    <!--{% for user in users %}-->
    <!--<li> {{ user.username }} </li>-->
    <!--{% endfor %}-->
<!--</ul>-->




    <br>
    <br>

    <h3>Add new members</h3>
    <p><i>Only users without an existing company can be invited</i></p>
    <form action="" method="POST">{% csrf_token %}
    <select name="user_to_add" required>
        <option disabled selected value> -- select an user -- </option>

        {% for user in users_available %}
        <option value="{{user.id}}"> {{user.username}} </option>
        {% endfor %}
    </select>
    <input type="submit" name="add_user" value="Add" />
    </form>


    <br>
    <br>
    <h3>Manage current members</h3>
    <b>Admins</b>
    <i>will have access to managing company page and membership</i>
        <ul>
        {% for user in admins %}
            <li>
            <d>
                <form action="" method="POST">{% csrf_token %}
                    <a  href="{% url 'profile' user.username %}" >{{ user.username }} </a>
                    <input type="hidden" name="user_to_remove" value="{{user.id}}"> </input>
                    <input type="submit" name="set_as_member" value="Set as member" />
                    <input type="submit" name="remove_admin" value="Remove" />
                </form>
                <br>

            </d>
            </li>
        {% endfor %}
        </ul>




    <b>Members</b>
    <i>will have access to adding files and edit company page</i>
        <ul>
        {% for user in members %}
            <li>
            <d>
                <form action="" method="POST">{% csrf_token %}
                    <a  href="{% url 'profile' user.username %}" >{{ user.username }} </a>
                    <input type="hidden" name="user_to_remove" value="{{user.id}}"> </input>
                    <input type="submit" name="set_as_admin" value="Set as admin" />
                    <input type="submit" name="remove_member" value="Remove" />
                </form>
                <br>

            </d>
            </li>
        {% endfor %}
        </ul>


    <!--<h4>Remove current members</h4>-->
    <!--<p>Removed user will have no access to managing this company page</p>-->
    <!--<form action="" method="POST">{% csrf_token %}-->
    <!--<select name="user_to_remove" required>-->
        <!--<option disabled selected value> &#45;&#45; select a member &#45;&#45; </option>-->
        <!--{% for user in users_existing %}-->
        <!--<option value="{{user.id}}"> {{user.username}} </option>-->
        <!--{% endfor %}-->
    <!--</select>-->
    <!--<input type="submit" name="remove_user" value="Remove" />-->
    <!--</form>-->


    <button class="btn btn-default"><a href="{% url 'manage_photos' company_obj.id %}">Add/Edit company photos</a></button>
    <button class="btn btn-default"><a href="{% url 'manage_files' company_obj.id %}">Add/Edit files</a></button>
    <br>
    <button class="btn btn-default"><a href="{% url 'company_profile' company_obj.id %}">Back</a></button>


    {% endif %}

{% endblock %}