{% extends 'builder.html' %}

{% block title %}
Manage photos
{% endblock %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tag %} class="{{ message.tags }}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% else %}
    {% endif %}

    <br>
    <br>
    <h3>Build your company gallery</h3>
    <p>This is where you can showcase your company's products and services</p>
    <img src=" /media/img/default_company_logo.png " alt="logo" width="150px">

    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <p><b>All photos uploaded will be made public to platform users</b></p>
    <input type="submit" value="Register" />
    </form>




    <button class="btn btn-default"><a href="{% url 'companies' %}">Cancel</a></button>




</p>
{% endblock %}