{% extends 'builder.html' %}

{% block title %}
Modify my Company
{% endblock %}

{% block content %}
    <br>
    <br>
    <h3>Modify my company</h3>
    <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">




    <!-- TODO: Only users own this company shoud see this page -->

    <form method="POST" enctype="multipart/form-data" > {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Save" />
    </form>


    <button class="btn btn-default"><a href="{% url 'my_company' company_obj.id %}">Cancel</a></button>



{% endblock %}