{% extends 'builder.html' %}

{% block title %}
Modify my Company
{% endblock %}

{% block content %}
    <br>
    <br>
    <h3>Modify my company</h3>
    <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">




    <form method="POST" enctype="multipart/form-data" > {% csrf_token %}
        {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Save" />
        <a class="btn btn-outline-primary" href="{% url 'company_profile' company_obj.id %}">Cancel</a>
    <br>
    <a class="btn btn-danger" href="{% url 'delete_company' company_obj.id %}">Delete company</a>


    </form>






{% endblock %}