{% extends 'builder.html' %}

{% block title %}
My Company
{% endblock %}

{% block content %}



        <!--Company name-->
        <h2>{{ company_obj.name }}</h2>

        <!--Company logo-->
        <img src="{{ company_obj.logo.url }}" alt="logo" width="150px">
        <br>
        <br>
        <br>
        <br>

        <!--Company details-->
        <h5> Company Details</h5>
        <p>description: {{ company_obj.description }}<p>
        <p>industry: {{ company_obj.get_industry_display }}<p>
        <p>size: {{ company_obj.get_size_display }}<p>
        <p>type: {{ company_obj.get_type_display }}<p>
        <p>location: {{ company_obj.location }}<p>
        <p>website_url: {{ company_obj.website_url }}<p>



        <!--Buttons-->
        <button class="btn btn-default"><a href="{% url 'modify_company' company_obj.id %}">Modify company</a></button>
        <!--TODO: MAKE this delete work-->
        <button class="btn btn-default"><a href="{% url 'modify_company' company_obj.id %}">Delete company</a></button>



    <br>
    <button class="btn btn-default"><a href="{% url 'index' %}">Back to {{request.user}}'s profile</a></button>

    <!--TODO: It's existence is purely for testing only. Remove it later-->
    <br>
    <button class="btn btn-default"><a href="{% url 'add_company' %}">Add another company</a></button>

{% endblock %}