            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Designed for <a href="https://www.africanimpact.ca/the-african-impact-challenge">
                            <i>#TheAfricanImpactChallenge</i></a></span><br>
                        <span>Project-Growth 2021</span><br>
                    </div>
                </div>
            </footer>