{% load static %}
{% load notifications_tags_forum %}

<!DOCTYPE html>
<html>

<head>

  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'forum/stylePost.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% if user %}
  <title>Growth Forum: {{ user }}</title>
  {% else %}
  <title>Growth Forum</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'forum-landing' %}">Growth Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">

            <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'entryChat' %}">Chat</a>
            <a class="nav-item nav-link" href="{% url 'my-posts' %}">My Posts</a>

          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <form class="d-flex" method="POST" action="{% url 'forum-search' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search Username" aria-label="Search"
                name="ForumSearch">
              <button class="btn btn-success ml-2" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'make-post' %}"><strong>New Post</strong></a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'profile' user.username %}">View Profile</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}

            <div class="navbar-item has-dropdown is-hoverable">

              <a class="navbar-link">
                <i class="fa fa-bell" style="font-size:20px"></i>
                {% if directs_count %}
                <span class="badge">{{ directs_count }}</span>
                {% endif %}
              </a>
    
              <div id="notification-dropdown" class="navbar-dropdown">
                {% for notification in user.notificationsForum.unread %}
                
                <div>
                {% for post in user.post_set.all %}

                {% if post.title == notification.description %}
                    
                  {% if notification.verb == "LikePost" and notification.recipient != notification.actor %}
                  <b>{{ notification.actor }}</b> liked your Post:
                  <button class="dropdown-item" type="button"><a
                   href="{% url 'individual-post' post.id %}">{{ notification.description }}</button></a>
                  
                   <button class="dropdown-item" type="button"><a
                    href="{% url 'notificationsForum:mark_as_read' notification.slug %}">CLEARRR</button></a> 

                  {% endif %} 

                  {% if notification.verb == "NewComment" and notification.recipient != notification.actor %}
                  <b>{{ notification.actor }}</b> commented on your post:
                  <button class="dropdown-item" type="button"><a
                   href="{% url 'individual-post' post.id %}">{{ notification.description }}</button></a>

                   <button class="dropdown-item" type="button"><a
                    href="{% url 'notificationsForum:mark_as_read' notification.slug %}">CLEARRR</button></a>

                  {% endif %}

                {% endif %}
                {% endfor %}
                  
                {% for comment in user.comment_set.all %}

                  {% if notification.verb == "LikeComment" and notification.recipient != notification.actor and notification.description == comment.text %} 
                    <b>{{ notification.actor }}</b> liked your comment <b>"{{ comment.text }}"</b>
                    <button class="dropdown-item" type="button"><a
                      href="{% url 'individual-post' comment.post.id %}">{{ comment.post.title }}</button></a>

                      <button class="dropdown-item" type="button"><a
                        href="{% url 'notificationsForum:mark_as_read' notification.slug %}">CLEARRR</button></a>

                  {% endif %} 

                  {% if notification.verb == "NewReply" and notification.recipient != notification.actor and notification.description == comment.text %}
                  <b>{{ notification.actor }}</b> replied on your comment <b>"{{ notification.description }}"</b>
                  <button class="dropdown-item" type="button"><a
                    href="{% url 'individual-post' comment.post.id %}">{{ comment.post.title }}</button></a>

                  <button class="dropdown-item" type="button"><a
                      href="{% url 'notificationsForum:mark_as_read' notification.id %}">CLEARRR</button></a>
                  {% endif %} 
                
                {% endfor %}
                
                
                {% for reply in user.reply_set.all %}

                  {% if notification.verb == "LikeReply" and notification.recipient != notification.actor and notification.description == reply.text %}
                  <b>{{ notification.actor }}</b> liked your reply <b>"{{ reply.text }}"</b>
                  <button class="dropdown-item" type="button"><a
                    href="{% url 'individual-post' reply.comment.post.id %}">{{ reply.comment.post.title }}</button></a>
                  {% endif %} 
                
                {% endfor %}

                </div>	
              {% endfor %}
              </div>
            </div>


            <button type="button" onclick="clearNotifications('notification-dropdown')" >Clear</button>

          </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>Filters</h3>
          <p class='text-muted'>Sort by:
          <ul class="list-group">
           <a  href= "{% url 'forum-landing' %}"><li class="list-group-item list-group-item-light">New</li></a> 
            <a  href= "{% url 'post-sort-popular' %}"><li class="list-group-item list-group-item-light">Popular: by comments</li></a>
            <a  href= "{% url 'post-sort-like' %}"><li class="list-group-item list-group-item-light">Top: by likes</li></a>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </main>

  <!-- Might want to add the bootstop java script here  from the bootstrap template: https://getbootstrap.com/docs/4.0/getting-started/introduction/-->
</body>

<style>

  .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
   
  .notification .badge {
    position: absolute;
    top: 2px;
    right: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
</style>

<script>
  function clearNotifications(elementID)
  {
    document.getElementById(elementID).innerHTML = "";
  }
</script>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>

<script src="{% static 'notificationsForum/notify.js' %}" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}

</html>