{%extends "builder.html"%}
{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  {% block header %}
  <title>Forum</title>
  <link rel="stylesheet" type="text/css" href="{% static 'forum/stylePost.css' %}">

  {% endblock %}

  

</head>

<body>

  <!-- <a class="nav-item nav-link" href="{% url 'make-post' %}"><strong>New Post</strong></a> -->

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>Filters</h3>
          <p class='text-muted'>Sort by:
          <ul class="list-group">
           <a  href= "{% url 'forum-landing' %}"><li class="list-group-item list-group-item-light">New</li></a> 
            <a  href= "{% url 'post-sort-popular' %}"><li class="list-group-item list-group-item-light">Popular: by comments</li></a>
            <a  href= "{% url 'post-sort-like' %}"><li class="list-group-item list-group-item-light">Top: by likes</li></a>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </main>

  <!-- Might want to add the bootstop java script here  from the bootstrap template: https://getbootstrap.com/docs/4.0/getting-started/introduction/-->
</body>

</html>