{% extends "forum/post_detail.html" %}
{% load crispy_forms_tags %}

{% block commentStuff %}

<form method="POST">
    {% csrf_token %}

    {{ form|crispy }}
    <div class="form-group">
      <button class="btn btn-outline-danger" type="submit">Comment</button>

    </div>
  </form>
  {% endblock commentStuff %}

  {% block replyStuff %}

    <div class="form-group">

        <a class="btn btn-primary mt-1 mb-1" id ={{comment.id}} href="{% url 'reply-create' object.id%}#{{comment.id}}" >Reply</a>

    </div>
    {% endblock replyStuff %}
