{% extends "forum/builder.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- note object is the default phrase for ListView, etcs -->
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.username }}</a>
      <small class="text-muted">Posted on: {{ object.date_posted}}</small>
      <!-- to change the date using a date filter using documentation and date format filters
                {{ post.date_posted|date:"F d, Y"}} so this is without time-->
      <small class="text-muted">Last updated: {{ object.last_modified}}</small>
      {% if object.username == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit-post' object.id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-post' object.id %}">Delete</a>
      </div>

        {% endif %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-create' object.id %}">Comment</a>

    </div>

    <!-- <div class="row justify-content-center mt-3 mb-5">
              <div class="col-md-5 col-sm-12">
                  <form method="POST">
                      {% csrf_token %}
                      {{ form | crispy }}
                      <div class="d-grid gap-2">
                        <button class="btn btn-outline-info" type="submit">Comment</button>
                      </div>
                  </form>
              </div>
          </div> -->
    <h2 class="article-title">{{ object.title }}</a></h2>
    <p class="article-content">{{ object.text }}</p>


    <h5>Comments:</h5>

    {% for comment in post.comment_set.all %}
    <p class="article-content">{{ comment }}</p>
    {% endfor %}
  </div>
</article>
{% endblock content %}