{% extends "forum/builder.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!-- note object is the default phrase for ListView, etcs -->
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'profile' post.username %}">{{ post.username }}</a>
      {% include "forum/nameTag.html" %}



      <small class="text-muted">Posted on: {{ object.date_posted}}</small>
      <!-- to change the date using a date filter using documentation and date format filters
                {{ post.date_posted|date:"F d, Y"}} so this is without time-->
      <small class="text-muted">Last updated: {{ object.last_modified}}</small>
      {% if object.username == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'edit-post' object.id %}">Edit</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete-post' object.id %}">Delete</a>
      </div>

      {% endif %}

    </div>
    <h2 class="article-title">{{ object.title }}</a></h2>
    <p class="article-content">{{ object.text }}</p>
    {% if object.video.url != null %}
    <div class="view">
    <video class="embed-responsive embed-responsive-16by9" controls="controls" >
      <source src="{{object.video.url}}" type="video/mp4" />
    </video>
    </div>
    {% endif %}
    <a class="btn btn-success btn-sm mt-1 mb-1" id=pos{{object.id}} href="{% url 'like-post' object.id %}">Like:
      {{object.likes.count}}</a>





    <h5>Comment Here:</h5>

    {% block commentStuff %}{% endblock %}


    {% for comment in object.comment_set.all %}
    <hr>
    <p class="article-content" id=com{{comment.id}}><strong>{{comment.username}}:</strong> {{ comment }}</p>
    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'like-comment' comment.id %}#com{{comment.id}}">Like:
      {{comment.likes.count}}</a>


    <h6 class><strong>Replies:</strong></h6>

    <ul>
      {% for reply in comment.reply_set.all %}
      <hr>
      <fieldset class="form-group">
        <li class="article-content" id=rep{{reply.id}}><strong>{{reply.username}}:</strong> {{ reply }}</li>
        <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'like-reply' reply.id %}#rep{{reply.id}}">Like:
          {{reply.likes.count}}</a>


      </fieldset>



      {% endfor %}
    </ul>
    {% block replyStuff %}{% endblock %}

    {% endfor %}





  </div>
</article>
{% endblock content %}