{% extends 'cal/base.html' %}

{% block title %}
Event
{% endblock %}

{% block content %}
<!--Bread Crumb-->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
		<li class="breadcrumb-item"><a href="{% url 'cal:calendar' %}">Calendar</a></li>
		<li class="breadcrumb-item active" aria-current="page">New Event</li>
	</ol>
</nav>

<!-- Page Header -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">New Event</h1>
	<a href="{% url 'cal:calendar' %}" class="d-none d-sm-inline-block btn btn-sm btn-outline-primary shadow-sm"><i
			class="fas fa-sm text-white-50"></i>< Back to {{request.user}}'s Calendar</a>
</div>


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  </table>
</form>
{% endblock %}